[submodule "tools/asm-differ"]
	path = tools/asm-differ
	url = https://github.com/simonlindholm/asm-differ
[submodule "tools/Torch"]
	path = tools/Torch
	url = https://github.com/quarrel07/Torch.git
	branch = macos-clang-fmt-fix
[submodule "libultraship"]
	path = libultraship
	url = https://github.com/quarrel07/libultraship.git
	branch = macos-sdl2-framework-fix
